@media screen and (max-width: 576px) {
	.nav,
	.banner-title,
	.banner-paragraph,
	.team-section {
		width: 100%;
		margin: 0 auto;
		padding: 0 5px;
	}
	/* shared style */
	.primary-btn {
		padding: 16px 24px;
		font-size: 16px;
		font-weight: 500;
		border: none;
		border-radius: 8px;
	}
	/* nav section */
	.nav {
		margin-top: 40px;
		flex-direction: column;
		gap: 20px;
		align-items: center;
	}
	.nav-links {
		gap: 20px;
	}
	.nav-items a {
		font-size: 18px;
		font-weight: 400;
	}
	/* banner section */
	.banner-content {
		margin-top: 70px;
		gap: 20px;
	}
	.banner-title {
		font-size: 40px;
		font-weight: 700;
	}
	.banner-image > img {
		padding: 0 5px;
	}
	/* team section */
	.team-section {
		flex-direction: column;
		gap: 25px;
	}
	.team-image {
		grid-template-columns: 1fr;
		order: 2;
	}
	.team-list {
		font-size: 35px;
	}
	.team-our {
		font-size: 35px;
	}
	.team-features {
		font-size: 35px;
	}
	.team-btn {
		display: flex;
		justify-content: center;
	}
}
