/*  */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/*  */
:root {
	--primary: #131313;
	--secondary: #424242;
	--text-color: #727272;
	--accent: #ff900e;
}

/* google font */
body {
	font-family: "Work Sans", sans-serif;
	border: 1px solid mediumblue;
}
/* content layout */
.container {
	max-width: 1400px;
	margin: 0 auto;
	border: 1px solid red;
}
.content-area {
	max-width: 1200px;
	margin: 0 auto;
	border: 1px solid palegreen;
}
/* shared style */
.primary-btn {
	background-color: var(--accent);
	padding: 20px 25px;
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
	border: none;
	border-radius: 8px;
}
/* header section */
.header {
	background-color: rgba(255, 144, 14, 0.1);
}
.nav {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}
.nav-title {
	font-size: 35px;
	font-weight: 700;
	color: var(--primary);
}
.nav-links {
	display: flex;
	gap: 30px;
}
.nav-items {
	list-style: none;
}
.nav-items a {
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	color: var(--secondary);
}
/* banner section */
.banner-content {
	margin-top: 110px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}
.banner-title {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	color: var(--primary);
	font-size: 64px;
	font-weight: 700;
}
.banner-paragraph {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	color: var(--text-color);
	font-size: 16px;
	font-weight: 400;
}
.banner-image {
	margin-top: 50px;
	margin-bottom: 45px;
}
.banner-image > img {
	width: 100%;
	height: 100%;
}
/* team section */
.main {
	margin-top: 85px;
}
.team-section {
	max-width: 1100px;
	margin: 0 auto;
	/*  */
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
.team-image {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}
.team-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 25px;
}
.team-list {
	color: var(--text-color);
	font-size: 45px;
	font-weight: 500;
}
.team-our {
	color: var(--primary);
	font-size: 45px;
	font-weight: 700;
}
.team-features {
	color: var(--accent);
	font-size: 45px;
	font-weight: 700;
}
.team-paragraph {
	color: var(--text-color);
	font-size: 16px;
	font-weight: 400;
}
/* features section */
.features-section {
	margin-top: 120px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}
.features-content {
	margin-top: 40px;
}
.features-title {
	width: 80%;
	color: var(--primary);
	font-size: 45px;
	font-weight: 700;
	/*  */
	padding-left: 25px;
	border-left: 5px solid var(--accent);
	border-radius: 1px;
}
.features-paragraph {
	margin-top: 24px;
	margin-bottom: 30px;
}
.features-card-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.featurs-card {
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
	background: rgb(255, 255, 255);
}
.features-card-title {
	color: var(--primary);
	font-size: 20px;
	font-weight: 600;
}
.features-card-paragraph {
	color: var(--text-color);
	font-size: 16px;
	font-weight: 400;
	margin-top: 10px;
}
.features-image {
	position: relative;
}
.features-image figure > img {
	width: 100%;
	height: 100%;
	margin-left: 80px;
}
.features-img-box {
	display: inline-block;
	background-color: var(--accent);
	padding: 30px 40px;
	border-radius: 8px;
}
.features-box-title {
	color: #ffffff;
	font-size: 50px;
	font-weight: 700;
}
.features-box-parageaph {
	color: #ffffff;
	font-size: 25px;
	font-weight: 500;
	text-align: center;
}

.features-img-box {
	position: absolute;
	left: 135px;
	bottom: 45px;
	transform: translate(-50%);
}
/* fact section */
.fact-section {
	margin-top: 130px;
}
.fact-title {
	color: var(--primary);
	font-size: 45px;
	font-weight: 700;
	margin-bottom: 15px;
}
.fact-paregraph {
	width: 50%;

	color: var(--text-color);
	font-size: 16px;
	font-weight: 400;
}
/* fact card content section */
.fact-card-content-section {
	margin-top: 100px;
}
.fact-content-card {
	max-width: 1100px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 50px;
}
.fact-card {
	padding: 50px 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	border: 1px solid var(--accent);
	border-radius: 8px;
}
.fact-card-title {
	color: var(--secondary);
	font-size: 45px;
	font-weight: 600;
}
.fact-card-paragraph {
	color: var(--text-color);
	font-size: 18px;
	font-weight: 500;
}
/* sponspors section */
.sponspors-section {
	margin-top: 150px;
}
.sponspors-content {
	max-width: 50%;
	margin: 0 auto;
}
.sponspors-title {
	color: var(--primary);
	font-size: 45px;
	font-weight: 700;
	text-align: center;
}
.sponspors-paragraph {
	color: var(--text-color);
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	margin-top: 24px;
}
.sponspors-card {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 50px;
}
.sponspors-card figure > img {
	width: 100%;
}
.sponspors-card-image{
	display: flex;
	padding: 5px;
	align-items: center;
	border: 2px dashed #0000001b;
}